@use '../variables' as *;
@use '../mixins' as *;

// Navigation Bar - Bottom Mobile App Style
.navbar {
  background-color: $color-second-neutral-light;
  position: sticky;
  bottom: 0; 
  width: 100%;
  z-index: 100;

// Layer 2. Only targetting nav items container that is WITHIN NAVBAR container (won't target other containers with same class name)
    .nav-items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      position: sticky;

      // Layer 3. Targetting individual nav items within nav items container
        .nav-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: $spacing-sm;
        border: none;
        background: none;
        cursor: pointer;
        border-radius: $spacing-sm;
        transition: all 0.2s ease;
        color: $color-neutral;
        
        &:hover {
          background-color: rgba($color-secondary, 0.5);
        }
        
        &.active {
          background-color: $color-primary;
          color: white;
        }

        .nav-icon {
        font-size: $font-size-h3;
        margin: auto;
        align-items: center;
        justify-content: center;
        }

        &.nav-item-ai {
          background-color: $color-secondary;
          padding: $spacing-sm;
          border-radius: $spacing-sm;

            // Level 4. Overwriting nav item AI specifically
              &:hover {
                border: 2px solid $color-primary;
              }

              &.active {
              background-color: $color-primary;
              color: $color-secondary;
              }
        }

      }
    }
}
