@use "variables" as *;
@use "mixins" as *;

// Import base styles (reset, typography, utilities)
@use "base";

// Import layout
@use "layout/navbar";

// Import pages
@use "pages/homepage";
@use "pages/splash";
@use "pages/profile";
@use "pages/documents";
@use "pages/fullTranslate";
@use "pages/takequiz";

// Import components
@use "components/buttons";
@use "components/rocky-speech-bubble";
@use "components/clerkUserButton";
