@use '../variables' as *;

.rocky-logo-section {
  background-color: $color-secondary;
  border-radius: $border-radius-full;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;

  .rocky-logo {
    width: 80%;
    height: 80%;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }

  > div {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 5 !important;

    * {
      opacity: 0 !important;
      
      &:hover {
        opacity: 0 !important;
      }
    }

    button {
      width: 100% !important;
      height: 100% !important;
      cursor: pointer !important;
      background: transparent !important;
      border: none !important;
      border-radius: $border-radius-full !important;
    }
  }
}

:global(.cl-userButtonPopoverCard) {
  z-index: 9999 !important;
}