@use "../variables" as *;

.notification-bell {
  background: none;
  border: none;
  cursor: pointer;
  padding: $spacing-sm;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: $border-radius-md;
  transition: background-color $transition-normal;


  &__wrapper {
    position: relative;
    display: inline-block;
  }

  &__icon {
    width: 24px;
    height: 24px;
    display: block;
  }

  &__badge {
    position: absolute;
    top: -6px;
    right: -6px;
    background-color: $color-error;
    color: white;
    border-radius: 10px;
    min-width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    font-weight: $font-weight-bold;
    padding: 0 4px;
  }
}
