@use '../variables' as *;

.peeking-character {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(120px);
  width: 219px;
  margin-top: 20px;
  height: 208px;
  pointer-events: none;
  z-index: 15;
  opacity: 0;

  &--animate {
    animation: peek-animation 0.5s ease-in-out 0.6s both;
  }

  &--descend {
    opacity: 1;
    animation: descend-animation 0.5s ease-in-out forwards;
  }

  &__image {
    width: 100%;
    height: 100%;
    display: block;
  }
}

@keyframes peek-animation {
  0% {
    transform: translateX(-50%) translateY(120px);
    z-index: 1;
    opacity: 0;
  }
  1% {
    opacity: 1;
  }

  99% {
    z-index: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-60px);
    z-index: 100;
    opacity: 1;
  }
}

@keyframes descend-animation {
  0% {
    transform: translateX(-50%) translateY(-60px);
    z-index: 100;
    opacity: 1;
  }
  1% {
    transform: translateX(-50%) translateY(-60px);
    z-index: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(120px);
    z-index: 1;
    opacity: 0;
  }
}
