@use '../variables' as *;
@use '../mixins' as *;


// Rocky Speech Container
.rocky-speech-container {
  display: grid;
  grid-template-columns: auto 1fr; 
  grid-template-rows: auto auto;
  align-items: end;
  gap: $spacing-xs; 
}

.rocky-container {
  display: flex;
  grid-row: 2;
  align-items: flex-end;
  justify-content: flex-start;
  
  .rocky-yellow-logo {
    width: 120px;
    height: 120px;
    margin-left: $spacing-xl;
    
  }
}

// Speech Bubble Container - Top Right
.speech-bubble-container {
  position: relative;
  grid-row: 1;
  grid-column: 2;
  max-width: 200px; 
  margin-left: $spacing-lg;


  .speech-bubble {
    width: 100%;
    height: auto;
    display: block;
  }

  .bubble-text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -110%);
    font-size: $font-size-label; 
    font-weight: $font-weight-regular;
    color: $color-neutral;
    text-align: center;
    padding: $spacing-sm $spacing-xs;
    line-height: 1.3;
    max-width: 80%;
    width: fit-content;
    word-wrap: break-word;
    overflow-wrap: break-word;


  }
}

