@use '../variables' as *;
@use '../mixins' as *;

.document-study-options {
  margin: 1rem;
  &__title {
    margin-bottom: 1rem;
    text-align: center;
  }

  .word-of-the-day-card {
    margin-bottom: 1.5rem;
    background-color: $color-primary;
    box-shadow: 8px 8px 0 $color-quaternary-800;
    border-radius: 5px;
  }
}

.studyTypeHead {
  margin-top: 1.5rem;
  margin-bottom: 0;

  h2 {
    font-size: $font-size-h2;
    font-weight: $font-weight-bold;
    color: $color-quaternary-dark;
    margin: 0;
    text-align: left;
  }
}

.study-type {
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 0.5rem;
  box-shadow: 8px 8px 0 $color-quaternary-800;
  padding: 3rem;

  .start_learning {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0.5rem;

    button {
      outline: none;
      font-family: inherit;
      font-size: inherit;
      cursor: pointer;

      background-color: $color-secondary;
      color: $color-quaternary-dark;
      border-radius: 25px;
      width: 100%;
      max-width: 12rem;
      height: 2rem;
      min-width: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0 1rem;
      transition: all 0.2s ease;

      &:hover {
        opacity: 0.9;
        transform: translateY(-1px);
      }

      &:active {
        transform: translateY(0);
      }

      &:focus-visible {
        outline: 2px solid $color-secondary;
        outline-offset: 2px;
      }

      p {
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  &-blue {
      background-color: $color-quinary-100;
      color: white;
    }
  

  &-red {
      background-color: $color-secondary-100;
      color: white;
  }
}