@use '../variables' as *;
@use '../mixins' as *;

.study-type {
display: grid;
grid-template-columns: 1fr 2fr;
grid-template-rows: auto auto;
border: 1px solid;
border-radius: 20px;
margin-top: 1.5rem;
padding: 0.5rem;

.top {
    grid-column: 2;
    align-self: start;

    .type {
        margin: 0 auto auto 0.5rem;
    }
}

.start_learning {
    grid-column: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0.5rem;
}

img {
    grid-column: 1;
    grid-row: 1 / 3; 
}

    button {
        background-color: $color-secondary;
        color: $color-quaternary-dark;
        border-radius: 25px;
        width: 100%;
        max-width: 12rem;
        margin-left: auto;
        margin-right: 0.5rem;
        height: 2rem;
        min-width: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 1rem;

        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
}

    &--blue {
        border-color: $color-quinary;
        .type {
            color: $color-quinary;
        }
    }

    &--red {
        border-color: $color-primary;
        .type {
            color: $color-primary;
        }
    }
}