@use '../variables' as *;
@use '../mixins' as *;

.study-type {
display: grid;
grid-template-columns: 1fr 2fr;
grid-template-rows: auto auto;
border: 1px solid;
border-radius: 20px;
margin-top: 1.5rem;
padding: 0.5rem;

.top {
    grid-column: 2;
    align-self: start;

    .type {
        margin: 0 auto auto 0.5rem;
    }
}

img {
    grid-column: 1;
    grid-row: 1 / 3; 
}

    & button {
        background-color: $color-secondary;
        color: $color-quaternary-dark;
        border-radius: 25px;
        width: 12rem;
        margin-left: 7rem; 
        height: 2rem;  
}

    &--blue {
        border-color: $color-quinary;
        .type {
            color: $color-quinary;
        }
    }

    &--red {
        border-color: $color-primary;
        .type {
            color: $color-primary;
        }
    }
}