.term-card {
  border: 1px solid #ddd;
  padding: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  background-color: #fff;

  &__header {
    margin-bottom: 1rem;

    &-title {
      font-size: 1.1rem;
      font-weight: bold;
    }

    &-industry {
      margin-left: 1rem;
      color: #666;
      font-size: 0.9rem;
    }
  }

  &__content {
    margin-bottom: 1rem;

    &-row {
      margin-bottom: 0.5rem;
    }

    &-label {
      font-weight: bold;
    }

    &-native {
      color: #fe4d13;
      font-weight: 500;
      font-size: 1.1rem;

      &-label {
        font-weight: bold;
        text-transform: capitalize;
      }
    }
  }

  &__definition {
    &-row {
      margin-bottom: 0.5rem;
    }

    &-label {
      font-weight: bold;
    }

    &-native {
      color: #fe4d13;

      &-label {
        font-weight: bold;
        text-transform: capitalize;
      }
    }
  }
}
