@use "sass:color";
@use "../variables" as *;
@use "../mixins" as *;

#root main:has(.avatar-onboarding-page) {
  padding-bottom: 0;
}

.avatar-edit-page, .avatar-view-page, .avatar-onboarding-page {
    padding: 1rem;
    max-width: 480px;
    position: relative;

    h1 {
        font-size: $font-size-h1;
        font-family: $font-family-primary;
        font-weight: $font-weight-medium;
        color: $color-quaternary-500;
        text-align: left;
        align-items: center;
    }
}
