@use "sass:color";
@use "../variables" as *;
@use "../mixins" as *;

.avatar-edit-page, .avatar-view-page, .avatar-onboarding-page {
    padding: 0;
    max-width: 480px;
    position: relative;
    height: calc(100vh - 70px);
    overflow: hidden;
    display: flex;
    flex-direction: column;

    h1 {
        font-size: $font-size-h1;
        font-family: $font-family-primary;
        font-weight: $font-weight-medium;
        color: $color-quaternary-500;
        text-align: left;
        align-items: center;
    }
}
