@use "sass:color";
@use "../variables" as *;
@use "../mixins" as *;

.avatar-edit-page, .avatar-view-page {
    padding: 1rem;
    max-width: 480px;

    h1 {
        font-size: $font-size-h1;
        font-family: $font-family-primary;
        font-weight: $font-weight-bold;
        color: $color-primary-800;
        text-align: left;
        margin-bottom: 3rem;
    }


}
