@use "sass:color";
@use "../variables" as *;
@use "../mixins" as *;

.bossPage {
    margin: 1rem;
    font-family: $font-family-primary;

    .headerContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 2rem 1rem 1rem 1rem;
        position: relative;

        .navigation {
            width: 2rem;
            color: $quaternary-800;
            height: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 0;
            top: 0;
        }

        .headerText {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;

            .levelLabel {
                font-size: 0.875rem;
                font-weight: $font-weight-regular;
                color: $quaternary-800;
            }

            h1 {
                margin: 0;
                font-size: 1.5rem;
                font-weight: $font-weight-bold;
                color: $quaternary-800;
            }

            .badge {
                background-color: $color-primary;
                color: white;
                padding: 0.25rem 0.75rem;
                align-self: center;
                border-radius: 1rem;
                font-size: 0.875rem;
                font-weight: $font-weight-regular;
                width: fit-content;
            }

            .description {
                margin: 0;
                font-size: 0.875rem;
                color: $quaternary-700;
            }
        }
    }
    .levelBadge {
        display: flex;
        justify-content: center;
        margin: 1rem 0;

        img {
            width: 50%;
        }
    }
}