@use '../variables' as *;
@use '../mixins' as *;

.demo {
    h1 {
    font-size: $font-size-h1;
    font-weight: $font-weight-bold;
    color: $color-quaternary-dark;
  }

  h2 {
    font-size: $font-size-h1;
    font-weight: $font-weight-bold;
    color: $color-quaternary-dark;
  }

  .top {
    display: grid;
    grid-template-columns: 0.3fr 1fr 0.3fr;
    align-items: center;
    margin: 1rem 0;

    h1 {
        grid-column: 2;
        text-align: left;
    }
    h2 {
        text-align: right;
        margin-bottom: 1rem;
    }
  }

  .demo-term-card {
    margin-top: 1.5rem;
  }
}
