@use '../variables' as *;
@use '../mixins' as *;

.language-preferences {
  @include page-layout;
  display: flex;
  flex-direction: column;
  background-color: $color-second-neutral-light;

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $spacing-lg 0;
    margin-bottom: $spacing-md;
  }

  &__logo {
    width: 80px;
    height: auto;
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $spacing-md 0;
  }

  &__loading {
    text-align: center;
    color: $color-neutral;
    padding: $spacing-md;
    font-size: $font-size-body;
  }

  &__error {
    background-color: rgba($color-error, 0.1);
    border: 1px solid $color-error;
    color: $color-error;
    padding: $spacing-md;
    border-radius: $border-radius-md;
    margin-top: $spacing-md;
    text-align: center;
    font-size: $font-size-body;
  }
}
