@use 'sass:color';
@use '../variables' as *;
@use '../mixins' as *;

.learningOverview {
  padding: 2rem 1rem 0 1rem;

  .lessonFolders {
    display: grid;
    margin: auto;
    grid-template-rows: 4fr 4fr;
    gap: 1rem;
    width: 100%;

    .prebuilt {
        grid-row: 1;
        grid-column: span 2;
        width: 100%;
    }

    .generated {
        grid-row: 2;
        grid-column: 1;
        width: 100%;
    }

    .friends {
        grid-row: 2;
        grid-column: 2;
        width: 100%;
    }
  }

.learningOverviewHeader {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 2rem;
    margin: 0 0.5rem 1rem 0.5rem;

    .headerContent {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .badge {
            background-color: $color-primary;
            color: white;
            padding: 0.25rem 0.75rem;
            border-radius: 1rem;
            font-size: 0.875rem;
            font-weight: $font-weight-regular;
            align-self: flex-start;
        }

        h1 {
            font-size: $font-size-h1;
            font-weight: $font-weight-bold;
            margin: 0;
        }

        p {
            font-size: $font-size-tag;
            font-weight: $font-weight-regular;
            color: $color-neutral;
            margin: 0;
        }
    }

    img {
        grid-column: 2;
        max-width: 100%;
        height: auto;
    }
}

h2 {
    font-size:$font-size-h2;
    font-weight: $font-weight-bold;
    margin-bottom: 0.5rem;
}

.navigation-card__content {
    max-width: 100%;
    border-radius: 15px;
    margin-bottom: 0.5rem;
}
}