@use "../variables" as *;

.notifications-page {
    width: 100%;
    max-width: 480px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: clamp(1rem, 5vw, 3rem);
    background: $color-secondary;
    position: relative;
    overflow: hidden;

    &__shell {
        position: relative;
        width: 100%;
        max-width: 480px;
        min-width: 100%;
        height: 775px;
        z-index: 1;
        padding: 0 0.5rem 0.5rem 0;
    }

    &__card {
        background: $second-neutral-100;
        border-radius: 30px;
        padding: 1.75rem 1rem 1.5rem;
        border: 1px solid $color-quinary;
        box-shadow: 16px 16px 0 $color-quaternary-800;
        min-height: 725px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: relative;
    }

    &__header {
        margin-top: -0.9rem;
        display: flex;
        align-items: center;
        gap: -10px;
    }

    &__back {
        border: none;
        background: none;
        color: $color-quaternary-800;
        padding: 0.5rem;
        border-radius: $border-radius-full;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color $transition-fast;
        margin-left: -1.5rem;

        svg {
            width: 48px;
            height: 48px;
        }
    }

    &__title {
        font-size: $font-size-h1;
        color: $color-quaternary-700;
        margin: 0;
        font-weight: $font-weight-bold;
    }

    &__content {
        flex: 1;
    }

    &__support {
        text-align: center;
        font-size: 0.95rem;
        color: $color-quaternary-700;
        margin: 0;

        a {
            color: $color-quaternary-800;
            font-weight: 700;
            text-decoration: underline;
        }
    }
}
