@use '../variables' as *;
@use '../mixins' as *;

.splash-page {
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: $color-second-neutral-light;
 
      img {
        margin: 3rem auto;
      }

      button {
        margin: 3rem 5rem;
        background-color: $color-primary;
        color: white;
      }
}