.avatar-customization__canvas {

  // Shape-02 + Shoe combinations for base body
  &[data-shape^="shape-02"] .avatar-layer--shoes[data-shoes="shoe-01"] {
    bottom: 2.8%;
    left: -7.6%;
    width: 52%;
    min-height: 14.8%;
    max-height: 18.5%;
  }

  &[data-shape^="shape-02"] .avatar-layer--shoes[data-shoes="shoe-02"] {
    bottom: 2.8%;
    left: -7.6%;
    width: 52%;
    min-height: 14.8%;
    max-height: 18.5%;
  }

  &[data-shape^="shape-02"] .avatar-layer--shoes[data-shoes="shoe-03"] {
    bottom: 1.9%;
    left: -7.6%;
    width: 60%;
    min-height: 14.8%;
    max-height: 18.5%;
  }

    // Shape-02 + Shoe combinations for base body 1
  &[data-shape="shape-02-h1"] .avatar-layer--shoes[data-shoes="shoe-03"] {
    left: -6.5%;
    width: 66%;
  }

  &[data-shape="shape-02-h1"] .avatar-layer--shoes[data-shoes="shoe-02"] {
    left: -6.5%;
    width: 66%;
  }

    &[data-shape="shape-02-h1"] .avatar-layer--shoes[data-shoes="shoe-01"] {
    left: -6.5%;
    width: 66%;
  }

  // Shape-02 + Shoe combinations for base body 2
  &[data-shape="shape-02-h2"] .avatar-layer--shoes[data-shoes="shoe-01"] {
    left: 0%;
    width: 66%;
  }

    &[data-shape="shape-02-h2"] .avatar-layer--shoes[data-shoes="shoe-03"] {
    left: 2.3%;
    width: 67%;
  }


   &[data-shape="shape-02-h2"] .avatar-layer--shoes[data-shoes="shoe-02"] {
    left: 1.2%;
    width: 67%;
  }

    // Shape-02 + Shoe combinations for base body 3 & 4
   &[data-shape="shape-02-h3"] .avatar-layer--shoes[data-shoes="shoe-01"] {
    left: -3.5%;
    bottom: 2.9%;
    width: 60%;
  }

&[data-shape="shape-02-h3"] .avatar-layer--shoes[data-shoes="shoe-02"] {
    left: -3.5%;
    bottom: 2.0%;
    width: 60%;
  }

     &[data-shape="shape-02-h3"] .avatar-layer--shoes[data-shoes="shoe-03"] {
    left: -0.9%;
    bottom: 2.9%;
    width: 60%;
  }

    &[data-shape="shape-02-h4"] .avatar-layer--shoes[data-shoes="shoe-01"] {
      left: -3.5%;
      bottom: 2.9%;
      width: 60%;
    }

  &[data-shape="shape-02-h4"] .avatar-layer--shoes[data-shoes="shoe-02"] {
      left: -2%;
      bottom: 2.0%;
      width: 60%;
    }

     &[data-shape="shape-02-h4"] .avatar-layer--shoes[data-shoes="shoe-03"] {
      left: -5%;
      bottom: 2.9%;
      width: 60%;
    }


// Shoes end here




  // Shape-02 + Hair combinations for base body
  &[data-shape^="shape-02"] .avatar-layer--hair[data-hair="hair-01"] {
    top: 23.1%;
    left: 55%;
    min-height: 46.3%;
    max-height: 74.1%;
    width: 110%;
  }

    &[data-shape^="shape-02"] .avatar-layer--hair[data-hair="hair-02"] {
    top: 0%;
    left: 46.5%;
    min-height: 37.0%;
    max-height: 55.5%;
  }

  &[data-shape^="shape-02"] .avatar-layer--hair[data-hair="hair-03"] {
    top: 0%;
    left: 46.5%;
    width: 50%;
  }

&[data-shape^="shape-02"] .avatar-layer--hair[data-hair="hair-04"] {
    top: 9.3%;
    left: 50%;
    width: 95%;
  }


    &[data-shape^="shape-02"] .avatar-layer--hair[data-hair="hair-05"] {
    top: 0%;
    left: 42.3%;
    width: 50%;
  }

    &[data-shape^="shape-02"] .avatar-layer--hair[data-hair="hair-06"] {
    top: 4.6%;
    left: 43.1%;
    transform: translateX(-50%);
    min-height: 20%;
    max-height: 30%;
  }

  &[data-shape^="shape-02"] .avatar-layer--hair[data-hair="hair-07"] {
    top: 2.8%;
    left: 38%;
    width: 95%;
  }




// Shape-02 + Hair combinations for base body 1

   &[data-shape="shape-02-h1"] .avatar-layer--hair[data-hair="hair-01"] {
    top: 8%;
    left: 60%;
    width: 135%;
  }

    &[data-shape="shape-02-h1"] .avatar-layer--hair[data-hair="hair-02"] {
    top: -10%;
  }

    &[data-shape="shape-02-h1"] .avatar-layer--hair[data-hair="hair-03"] {
    top: -12%;
  }

   &[data-shape="shape-02-h1"] .avatar-layer--hair[data-hair="hair-04"] {
    top: -8%;
    width: 110%;
  }


  &[data-shape="shape-02-h1"] .avatar-layer--hair[data-hair="hair-05"] {
    top: -15%;
    width: 55%;
  }

    &[data-shape="shape-02-h1"] .avatar-layer--hair[data-hair="hair-06"] {
    top: -8%;
  }

    &[data-shape="shape-02-h1"] .avatar-layer--hair[data-hair="hair-07"] {
    top: -15%;
    left: 40%;
    width: 110%;
  }


  // Shape-02 + Hair combinations for base body 2

  &[data-shape="shape-02-h2"] .avatar-layer--hair[data-hair="hair-01"] {
    top: 15%;
    left: 60%;
  }

    &[data-shape="shape-02-h2"] .avatar-layer--hair[data-hair="hair-02"] {
    top: -5%;
    left: 50%;
  }

     &[data-shape="shape-02-h2"] .avatar-layer--hair[data-hair="hair-03"] {
    top: -8%;
    left: 55%;
  }

  &[data-shape="shape-02-h2"] .avatar-layer--hair[data-hair="hair-04"] {
    top: 0%;
    left: 55%;
  }

    &[data-shape="shape-02-h2"] .avatar-layer--hair[data-hair="hair-05"] {
    top: -8%;
    left: 45%;
  }

    &[data-shape="shape-02-h2"] .avatar-layer--hair[data-hair="hair-06"] {
    top: -5%;
    left: 50%;
  }

    &[data-shape="shape-02-h2"] .avatar-layer--hair[data-hair="hair-07"] {
    top: -12%;
    left: 40%;
    width: 110%;
  }



  // Shape-02 + Hair combinations for base body 3

  &[data-shape="shape-02-h3"] .avatar-layer--hair[data-hair="hair-01"] {
    left: 58%;
    top: 28%;
    width: 95%
  }


  &[data-shape="shape-02-h3"] .avatar-layer--hair[data-hair="hair-02"] {
    top: 5%;
    left: 50%;
    width: 55%;
  }

  &[data-shape="shape-02-h3"] .avatar-layer--hair[data-hair="hair-03"] {
    top: 2.8%;
    left: 52%;
    width: 45%;
  }

  &[data-shape="shape-02-h3"] .avatar-layer--hair[data-hair="hair-04"] {
    top: 12.7%;
    left: 55%;
    width: 85%;
  }

  &[data-shape="shape-02-h3"] .avatar-layer--hair[data-hair="hair-05"] {
    top: 5%;
    left: 45.6%;
    width: 45%;
  }

  &[data-shape="shape-02-h3"] .avatar-layer--hair[data-hair="hair-06"] {
    top: 8%;
    left: 50%;
    width: 45%;
  }

  &[data-shape="shape-02-h3"] .avatar-layer--hair[data-hair="hair-07"] {
    top: 8%;
    left: 40%;
    width: 85%;
  }


    // Shape-02 + Hair combinations for base body 4

  &[data-shape="shape-02-h4"] .avatar-layer--hair[data-hair="hair-01"] {
    top: 15%;
    width: 115%;
    left: 60%;
  }

  &[data-shape="shape-02-h4"] .avatar-layer--hair[data-hair="hair-02"] {
    top: -5%;
    left: 50%;
    width: 55%;
  }

  &[data-shape="shape-02-h4"] .avatar-layer--hair[data-hair="hair-03"] {
    top: -8%;
    left: 52%;
    width: 45%;
  }

  &[data-shape="shape-02-h4"] .avatar-layer--hair[data-hair="hair-04"] {
    top: -2%;
    left: 52%;
    width: 110%;
  }

  &[data-shape="shape-02-h4"] .avatar-layer--hair[data-hair="hair-05"] {
    top: -8%;
    left: 45.6%;
    width: 50%;
  }

  &[data-shape="shape-02-h4"] .avatar-layer--hair[data-hair="hair-06"] {
    top: -2%;
    left: 50%;
    width: 45%;
  }

  &[data-shape="shape-02-h4"] .avatar-layer--hair[data-hair="hair-07"] {
    top: -8%;
    left: 38%;
    width: 110%;
  }

// hair ends here

//hats

  // Shape-02 + Cap combinations for base body

  &[data-shape^="shape-02"] .avatar-layer--headwear[data-headwear="cap"] {
    top: 10%;
    left: 48%;
    width: 55%;
  }

  // Only allow users to double up for hats with hairstyle 1 and hairstyle 7. The others would realistically be hidden by the hat - and do not render properly
    &[data-shape^="shape-02"][data-hair="hair-01"] .avatar-layer--headwear[data-headwear="cap"] {
    top: 10%;
    left: 48%;
    width: 55%;
  }

    &[data-shape^="shape-02"][data-hair="hair-07"] .avatar-layer--headwear[data-headwear="cap"] {
    top: 8%;
    left: 52%;
    width: 55%;
  }

// Shape-02 + Cap combinations for base body 1
  &[data-shape="shape-02-h1"] .avatar-layer--headwear[data-headwear="cap"] {
    top: -5%;
    left: 45%;
    width: 60%;
  }

  &[data-shape="shape-02-h1"][data-hair="hair-01"] .avatar-layer--headwear[data-headwear="cap"] {
    top: -5%;
    left: 55%;
    width:60%;
  }

  // Only allow users to double up for hats with hairstyle 1 and hairstyle 7. The others would realistically be hidden by the hat - and do not render properly
     &[data-shape="shape-02-h1"][data-hair="hair-07"] .avatar-layer--headwear[data-headwear="cap"] {
    top: -10%;
    left: 55%;
  }


// Shape-02 + Cap combinations for base body 2
  &[data-shape="shape-02-h2"] .avatar-layer--headwear[data-headwear="cap"] {
    top: 2%;
    left: 50%;
    width: 60%;
  }

  &[data-shape="shape-02-h2"][data-hair="hair-01"] .avatar-layer--headwear[data-headwear="cap"] {
    top: 5%;
    left: 60%;
  }

    // Only allow users to double up for hats with hairstyle 1 and hairstyle 7. The others would realistically be hidden by the hat - and do not render properly
  &[data-shape="shape-02-h2"][data-hair="hair-07"] .avatar-layer--headwear[data-headwear="cap"] {
    top: 0%;
    left: 58%;
  }

// Shape-02 + Cap combinations for base body 3
  &[data-shape="shape-02-h3"] .avatar-layer--headwear[data-headwear="cap"] {
    top: 18%;
    left: 44.7%;
    width: 50%;
  }

  &[data-shape="shape-02-h3"][data-hair="hair-01"] .avatar-layer--headwear[data-headwear="cap"] {
    top: 15%;
    left: 55%;
    width: 50%;
  }

  &[data-shape="shape-02-h3"][data-hair="hair-07"] .avatar-layer--headwear[data-headwear="cap"] {
    top: 18%;
    left: 55%;
    width: 50%;
  }

// Shape-02 + Cap combinations for base body 4

  &[data-shape="shape-02-h4"] .avatar-layer--headwear[data-headwear="cap"] {
    top: 5%;
    left: 48.2%;
    width: 55%;
  } 

  &[data-shape="shape-02-h4"][data-hair="hair-01"] .avatar-layer--headwear[data-headwear="cap"] {
    top: 5%;
    left: 60%;
    width: 55%;
  } 

  &[data-shape="shape-02-h4"][data-hair="hair-07"] .avatar-layer--headwear[data-headwear="cap"] {
    top: 5%;
    left: 55%;
  }

    // Only allow users to double up for hats with hairstyle 1 and hairstyle 7. The others would realistically be hidden by the hat - and do not render properly



  // Shape-02 + Hard hat combinations for base body
   &[data-shape^="shape-02"] .avatar-layer--headwear[data-headwear="hard-hat"] {
    top: 5%;
    left: 42%;
    width: 45%;
  }

  // Only allow users to double up for hats with hairstyle 1 and hairstyle 7. The others would realistically be hidden by the hat - and do not render properly
  &[data-shape^="shape-02"][data-hair="hair-01"] .avatar-layer--headwear[data-headwear="hard-hat"] {
    top: 5%;
    left: 48%;
    width: 50%;
  }

  &[data-shape^="shape-02"][data-hair="hair-07"] .avatar-layer--headwear[data-headwear="hard-hat"] {
    top: -2%;
    left: 50%;
    width: 80%;
  }

  // Shape-02 + Hard hat combinations for base body 1
   &[data-shape="shape-02-h1"] .avatar-layer--headwear[data-headwear="hard-hat"] {
    top: -10%;
    left: 45%;
    width: 60%;
  }
  // Only allow users to double up for hats with hairstyle 1 and hairstyle 7. The others would realistically be hidden by the hat - and do not render properly
   &[data-shape="shape-02-h1"][data-hair="hair-01"] .avatar-layer--headwear[data-headwear="hard-hat"] {
    top: -10%;
    left: 55%;
    width: 60%;
  }
  
    &[data-shape="shape-02-h1"][data-hair="hair-07"] .avatar-layer--headwear[data-headwear="hard-hat"] {
    top: -15%;
    left: 55%;
  }

    // Shape-02 + Hard hat combinations for base body 2
   &[data-shape="shape-02-h2"] .avatar-layer--headwear[data-headwear="hard-hat"] {
    top: -5%;
    left: 50%;
    width: 60%;
  }
    // Only allow users to double up for hats with hairstyle 1 and hairstyle 7. The others would realistically be hidden by the hat - and do not render properly
  &[data-shape="shape-02-h2"][data-hair="hair-01"] .avatar-layer--headwear[data-headwear="hard-hat"] {
    top: -4.7%;
    left: 55%;
    width: 55%;
  }
  
    &[data-shape="shape-02-h2"][data-hair="hair-07"] .avatar-layer--headwear[data-headwear="hard-hat"] {
    top: -12%;
    left: 58%;
  }

    // Shape-02 + Hard hat combinations for base body 3
  &[data-shape="shape-02-h3"] .avatar-layer--headwear[data-headwear="hard-hat"] {
    top: 12.7%;
    left: 43.8%;
    width: 45%;
  }

  &[data-shape="shape-02-h3"][data-hair="hair-01"] .avatar-layer--headwear[data-headwear="hard-hat"] {
    top: 12.7%;
    left: 50%;
    width: 45%;
  }

    &[data-shape="shape-02-h3"][data-hair="hair-07"] .avatar-layer--headwear[data-headwear="hard-hat"] {
    top: 5%;
    left: 52%;
    width: 45%;
  }

    // Shape-02 + Hard hat combinations for base body 4
   &[data-shape="shape-02-h4"] .avatar-layer--headwear[data-headwear="hard-hat"] {
    top: -2%;
    left: 48.2%;
    width: 55%;
  }

  // Shape-02 + Round hat 1 combinations for base body
  &[data-shape^="shape-02"] .avatar-layer--headwear[data-headwear="round-hat"] {
    top: 8%;
    left: 50%;
    width: 80%;
  }

// Only allow users to double up for hats with hairstyle 1 and hairstyle 7. The others would realistically be hidden by the hat - and do not render properly
  &[data-shape="shape-02"][data-hair="hair-01"] .avatar-layer--headwear[data-headwear="round-hat"] {
    top: 8%;
    left: 55%
  }

    &[data-shape="shape-02"][data-hair="hair-07"] .avatar-layer--headwear[data-headwear="round-hat"] {
    top: 8%;
    left: 52%
  }

    // Shape-02 + Round hat 1 combinations for base body 1
   &[data-shape="shape-02-h1"] .avatar-layer--headwear[data-headwear="round-hat"] {
    top: -5%;
    left: 55%;
  }

  // Only allow users to double up for hats with hairstyle 1 and hairstyle 7. The others would realistically be hidden by the hat - and do not render properly
    &[data-shape="shape-02-h1"][data-hair="hair-01"] .avatar-layer--headwear[data-headwear="round-hat"] {
    top: -5%;
    left: 60%
  }

    &[data-shape="shape-02-h1"][data-hair="hair-07"] .avatar-layer--headwear[data-headwear="round-hat"] {
    top: -2%;
    left: 60%
  }


    // Shape-02 + Round hat 1 combinations for base body 2
  &[data-shape="shape-02-h2"] .avatar-layer--headwear[data-headwear="round-hat"] {
    top: 0%;
    left: 55%;
    width: 90%;
  }

  // Only allow users to double up for hats with hairstyle 1 and hairstyle 7. The others would realistically be hidden by the hat - and do not render properly
  &[data-shape="shape-02-h2"][data-hair="hair-01"] .avatar-layer--headwear[data-headwear="round-hat"] {
    top: 0%;
    left: 58%
  }

     &[data-shape="shape-02-h2"][data-hair="hair-07"] .avatar-layer--headwear[data-headwear="round-hat"] {
    top: 0%;
    left: 58%
  }


  // Shape-02 + Round hat 1 combinations for base body 3
  &[data-shape="shape-02-h3"] .avatar-layer--headwear[data-headwear="round-hat"] {
    top: 13.7%;
    left: 53%;
    width: 85%;
  }


    // Only allow users to double up for hats with hairstyle 1 and hairstyle 7. The others would realistically be hidden by the hat - and do not render properly
   &[data-shape="shape-02-h3"][data-hair="hair-01"] .avatar-layer--headwear[data-headwear="round-hat"] {
    top: 12%;
    left: 58%
  }

     &[data-shape="shape-02-h3"][data-hair="hair-07"] .avatar-layer--headwear[data-headwear="round-hat"] {
    top: 12%;
    left: 55%
  }

  // Shape-02 + Round hat 1 combinations for base body 4
  &[data-shape="shape-02-h4"] .avatar-layer--headwear[data-headwear="round-hat"] {
    top: 5%;
    left: 58%;
  }

  // Only allow users to double up for hats with hairstyle 1 and hairstyle 7. The others would realistically be hidden by the hat - and do not render properly
  &[data-shape="shape-02-h4"][data-hair="hair-01"] .avatar-layer--headwear[data-headwear="round-hat"] {
    top: 2%;
    left: 58%
  }
  
  &[data-shape="shape-02-h4"][data-hair="hair-07"] .avatar-layer--headwear[data-headwear="round-hat"] {
    top: 2%;
    left: 58%
  }






// Shape-02 + Round hat 2 combinations for base body
  &[data-shape^="shape-02"] .avatar-layer--headwear[data-headwear="round-hat-2"] {
    top: 5%;
    left: 45%;
    width: 60%;
  }

  // Only allow users to double up for hats with hairstyle 1 and hairstyle 7. The others would realistically be hidden by the hat - and do not render properly

   &[data-shape^="shape-02"][data-hair="hair-01"] .avatar-layer--headwear[data-headwear="round-hat-2"] {
    top: 5%;
    left: 50%
  }

  &[data-shape^="shape-02"][data-hair="hair-07"] .avatar-layer--headwear[data-headwear="round-hat-2"] {
    top: 5%;
    left: 50%
  }

  // Shape-02 + Round hat 2 combinations for base body 1
    &[data-shape="shape-02-h1"] .avatar-layer--headwear[data-headwear="round-hat-2"] {
    top: -5%;
    left: 52%;
  }
  // Only allow users to double up for hats with hairstyle 1 and hairstyle 7. The others would realistically be hidden by the hat - and do not render properly

    &[data-shape="shape-02-h1"][data-hair="hair-01"] .avatar-layer--headwear[data-headwear="round-hat-2"] {
    top: -5%;
    left: 58%
  }

    &[data-shape="shape-02-h1"][data-hair="hair-07"] .avatar-layer--headwear[data-headwear="round-hat-2"] {
    top: -5%;
    left: 58%
  }

  // Shape-02 + Round hat 2 combinations for base body 2
  &[data-shape="shape-02-h2"] .avatar-layer--headwear[data-headwear="round-hat-2"] {
    top: 2%;
    left: 55%;
    width: 60%;
  }

  // Only allow users to double up for hats with hairstyle 1 and hairstyle 7. The others would realistically be hidden by the hat - and do not render properly
  &[data-shape="shape-02-h2"][data-hair="hair-01"] .avatar-layer--headwear[data-headwear="round-hat-2"] {
    top: 2%;
    left: 58%
  }

  &[data-shape="shape-02-h2"][data-hair="hair-07"] .avatar-layer--headwear[data-headwear="round-hat-2"] {
    top: -2%;
    left: 58%
  }



  // Shape-02 + Round hat 2 combinations for base body 3
    &[data-shape="shape-02-h3"] .avatar-layer--headwear[data-headwear="round-hat-2"] {
    top: 12%;
    left: 50%;
    width: 60%;
  }

   &[data-shape="shape-02-h3"][data-hair="hair-01"] .avatar-layer--headwear[data-headwear="round-hat-2"] {
    top: 8%;
    left: 55%
  }

   &[data-shape="shape-02-h3"][data-hair="hair-07"] .avatar-layer--headwear[data-headwear="round-hat-2"] {
    top: 7.8%;
    left: 55%
  }

  // Shape-02 + Round hat 2 combinations for base body 4
    &[data-shape="shape-02-h4"] .avatar-layer--headwear[data-headwear="round-hat-2"] {
    top: 0%;
    left: 48%;
    width: 80%;
  }

   &[data-shape="shape-02-h4"][data-hair="hair-01"] .avatar-layer--headwear[data-headwear="round-hat-2"] {
    top: -2%;
    left: 58%
  }

   &[data-shape="shape-02-h4"][data-hair="hair-07"] .avatar-layer--headwear[data-headwear="round-hat-2"] {
    top: -2%;
    left: 58%
  }



// Shape-02 + Round hat 3 combinations for base body
   &[data-shape^="shape-02"] .avatar-layer--headwear[data-headwear="round-hat-3"] {
    top: 12%;
    left: 43.9%;
    width: 60%;
  }

  // Only allow users to double up for hats with hairstyle 1 and hairstyle 7. The others would realistically be hidden by the hat - and do not render properly
  &[data-shape^="shape-02"][data-hair="hair-01"] .avatar-layer--headwear[data-headwear="round-hat-3"] {
    top: 13.9%;
    left: 52%;
  }

  &[data-shape="shape-02"][data-hair="hair-07"] .avatar-layer--headwear[data-headwear="round-hat-3"] {
    top: 11.1%;
    left: 52%
  }

  // Shape-02 + Round hat 3 combinations for base body 1
    &[data-shape="shape-02-h1"] .avatar-layer--headwear[data-headwear="round-hat-3"] {
    top: 0%;
    left: 50%;
  }

  // Only allow users to double up for hats with hairstyle 1 and hairstyle 7. The others would realistically be hidden by the hat - and do not render properly
    &[data-shape="shape-02-h1"][data-hair="hair-01"] .avatar-layer--headwear[data-headwear="round-hat-3"] {
    top: 0%;
    left: 58%
  }
    &[data-shape="shape-02-h1"][data-hair="hair-07"] .avatar-layer--headwear[data-headwear="round-hat-3"] {
    top: -2%;
    left: 58%
  }

  // Shape-02 + Round hat 3 combinations for base body 2
  &[data-shape="shape-02-h2"] .avatar-layer--headwear[data-headwear="round-hat-3"] {
    left: 50%;
    top: 5%;
    width: 60%;
  }

// Only allow users to double up for hats with hairstyle 1 and hairstyle 7. The others would realistically be hidden by the hat - and do not render properly
     &[data-shape="shape-02-h2"][data-hair="hair-01"] .avatar-layer--headwear[data-headwear="round-hat-3"] {
    top: 5%;
    left: 58%
  }

     &[data-shape="shape-02-h2"][data-hair="hair-07"] .avatar-layer--headwear[data-headwear="round-hat-3"] {
    top: 0%;
    left: 58%
  }

  // Shape-02 + Round hat 3 combinations for base body 3
    &[data-shape="shape-02-h3"] .avatar-layer--headwear[data-headwear="round-hat-3"] {
    top: 18%;
    left: 50%;
    width: 52%;
  }

// Only allow users to double up for hats with hairstyle 1 and hairstyle 7. The others would realistically be hidden by the hat - and do not render properly
   &[data-shape="shape-02-h3"][data-hair="hair-01"] .avatar-layer--headwear[data-headwear="round-hat-3"] {
    top: 15%;
    left: 55%;
    width: 55%;
  }

     &[data-shape="shape-02-h3"][data-hair="hair-07"] .avatar-layer--headwear[data-headwear="round-hat-3"] {
    top: 14%;
    left: 55%
  }


// Shape-02 + Round hat 3 combinations for base body 4

    &[data-shape="shape-02-h4"] .avatar-layer--headwear[data-headwear="round-hat-3"] {
      top: 8%;
      left: 50%;
      width: 55%;
    }

// Only allow users to double up for hats with hairstyle 1 and hairstyle 7. The others would realistically be hidden by the hat - and do not render properly
  &[data-shape="shape-02-h4"][data-hair="hair-01"] .avatar-layer--headwear[data-headwear="round-hat-3"] {
    top: 7%;
    left: 55%;
    width: 55%;
  }

     &[data-shape="shape-02-h4"][data-hair="hair-07"] .avatar-layer--headwear[data-headwear="round-hat-3"] {
    top: 5%;
    left: 58%
  }

// hats end here

// eyewear starts here

// Shape-02 + goggles combinations for base body
  &[data-shape^="shape-02"] .avatar-layer--eyewear[data-eyewear="goggles"] {
    top: 37%;
    left: 58%;
    width: 40%;
  }

  // Shape-02 + goggles combinations for base body 1
  &[data-shape="shape-02-h1"] .avatar-layer--eyewear[data-eyewear="goggles"] {
    top: 28%;
    left: 63%;
    width: 45%;
  }

  // Shape-02 + goggles combinations for base body 2
   &[data-shape="shape-02-h2"] .avatar-layer--eyewear[data-eyewear="goggles"] {
    top: 32%;
    left: 65%;
  }

  // Shape-02 + goggles combinations for base body 3
   &[data-shape="shape-02-h3"] .avatar-layer--eyewear[data-eyewear="goggles"] {
    top: 42%;
    left: 58%;
  }

  // Shape-02 + goggles combinations for base body 4
   &[data-shape="shape-02-h4"] .avatar-layer--eyewear[data-eyewear="goggles"] {
    top: 33%;
    left: 62%;
    width: 45%;
  }

// Shape-02 + glasses combinations for base body
  &[data-shape^="shape-02"] .avatar-layer--eyewear[data-eyewear="glasses"] {
    top: 38%;
    left: 58%;
    width: 40%;
  }

  // Shape-02 + glasses combinations for base body 1
  &[data-shape="shape-02-h1"] .avatar-layer--eyewear[data-eyewear="glasses"] {
    top: 28%;
    left: 60%;
    width: 50%;
  }

  // Shape-02 + glasses combinations for base body 2
   &[data-shape="shape-02-h2"] .avatar-layer--eyewear[data-eyewear="glasses"] {
    top: 30%;
    left: 65%;
  }

// Shape-02 + glasses combinations for base body 3
   &[data-shape="shape-02-h3"] .avatar-layer--eyewear[data-eyewear="glasses"] {
    top: 42%;
    left: 60%;
  }

  // Shape-02 + glasses combinations for base body 4
   &[data-shape="shape-02-h4"] .avatar-layer--eyewear[data-eyewear="glasses"] {
    top: 32%;
    left: 65%;
    width: 50%;
  }

  // eye wear end here

// masks start here
// Shape-02 + welding mask combinations for base body
  &[data-shape^="shape-02"] .avatar-layer--eyewear[data-eyewear="welding-mask"] {
    top: 25%;
    left: 47.3%;
    width: 60%;
  }

  // Shape-02 + welding mask combinations for base body 1
  &[data-shape="shape-02-h1"] .avatar-layer--eyewear[data-eyewear="welding-mask"] {
    width: 90%;
    top: 15%;
    left: 50%;
  }

  // Shape-02 + welding mask combinations for base body 2
   &[data-shape="shape-02-h2"] .avatar-layer--eyewear[data-eyewear="welding-mask"] {
    width: 75%;
    top: 20%;
    left: 50%;
  }

  // Shape-02 + welding mask combinations for base body 3
   &[data-shape="shape-02-h3"] .avatar-layer--eyewear[data-eyewear="welding-mask"] {
    width: 60%;
    top: 28%;
    left: 48%;
  }

  // Shape-02 + welding mask combinations for base body 4
   &[data-shape="shape-02-h4"] .avatar-layer--eyewear[data-eyewear="welding-mask"] {
    width: 80%;
    top: 20%;
    left: 50%;
  }

  // Shape-02 + orange mask combinations for base body
  &[data-shape^="shape-02"] .avatar-layer--eyewear[data-eyewear="orange-mask"] {
    top: 25%;
    left: 52%;
    width: 60%;
  }

    // Shape-02 + orange mask combinations for base body 1
  &[data-shape="shape-02-h1"] .avatar-layer--eyewear[data-eyewear="orange-mask"] {
    width: 80%;
    top: 15%;
    left: 58%;
  }

    // Shape-02 + orange mask combinations for base body 2
   &[data-shape="shape-02-h2"] .avatar-layer--eyewear[data-eyewear="orange-mask"] {
    width: 75%;
    top: 20%;
    left: 60%;
  }

    // Shape-02 + orange mask combinations for base body 3
   &[data-shape="shape-02-h3"] .avatar-layer--eyewear[data-eyewear="orange-mask"] {
    width: 60%;
    top: 30%;
    left: 55%;
  }

    // Shape-02 + orange mask combinations for base body 4
   &[data-shape="shape-02-h4"] .avatar-layer--eyewear[data-eyewear="orange-mask"] {
    width: 75%;
    top: 20%;
    left: 58%;
  }


     // Shape-02 + orange mask 2 combinations for base body
  &[data-shape^="shape-02"] .avatar-layer--eyewear[data-eyewear="orange-mask-2"] {
    top: 24%;
    left: 55%;
    width: 85%;
  }

       // Shape-02 + orange mask 2 combinations for base body 1
  &[data-shape="shape-02-h1"] .avatar-layer--eyewear[data-eyewear="orange-mask-2"] {
    top: 12%;
    left: 60%;
    width: 100%;
  }

       // Shape-02 + orange mask 2 combinations for base body 2
   &[data-shape="shape-02-h2"] .avatar-layer--eyewear[data-eyewear="orange-mask-2"] {
    top: 18%;
    left: 65%;
  }

       // Shape-02 + orange mask 2 combinations for base body 3
   &[data-shape="shape-02-h3"] .avatar-layer--eyewear[data-eyewear="orange-mask-2"] {
    top: 28%;
    left: 58%;
  }

       // Shape-02 + orange mask 2 combinations for base body 4
   &[data-shape="shape-02-h4"] .avatar-layer--eyewear[data-eyewear="orange-mask-2"] {
    top: 20%;
    left: 60%;
    width: 100%;
  }

  // Masks end here

// beards start here

// Shape-02 + beard 1 combinations for base body
  &[data-shape^="shape-02"] .avatar-layer--feature[data-facial="feature-01"] {
    top: 48%;
    left: 52%;
    width: 60%;
  }

  // Shape-02 + beard 1 combinations for base body 2 (beards do not work with crossed arms for base body 1 - so I omitted this option)
   &[data-shape^="shape-02-h2"] .avatar-layer--feature[data-facial="feature-01"] {
    top: 45%;
    left: 58%;
    width: 60%;
  }

  // Shape-02 + beard 1 combinations for base body 3 (beards do not work with crossed arms for base body 1 - so I omitted this option)
   &[data-shape="shape-02-h3"] .avatar-layer--facial[data-facial="feature-01"]  {
    width: 55%;
    top: 34.3%;
    left: 58%;
  }

    // Shape-02 + beard 1 combinations for base body 4 (beards do not work with crossed arms for base body 1 - so I omitted this option)
   &[data-shape="shape-02-h4"] .avatar-layer--facial[data-facial="feature-01"]  {
    width: 75%;
    top: 31%;
    left: 55%;
  }
  // beard ends here

  // Shape-02 + goatee combinations for base body 2
  &[data-shape^="shape-02"] .avatar-layer--feature[data-facial="feature-02"] {
    top: 64%;
    left: 50%;
    width: 59%;
  }

  // Shape-02 + goatee combinations for base body3 (beards do not work with crossed arms for base body 1 - so I omitted this option)
   &[data-shape="shape-02-h4"] .avatar-layer--feature[data-facial="feature-02"] {
    width: 70%;
    top:  65%;
    left: 55%;
  }

// Shape-02 + goatee combinations for base body 2 (beards do not work with crossed arms for base body 1 - so I omitted this option)
   &[data-shape="shape-02-h3"] .avatar-layer--feature[data-facial="feature-02"] {
    width: 75%;
    top: 70%;
    left: 55%;
  }

  // goatee ends here

  // Shape-02 + mustache combinations for base body
  &[data-shape^="shape-02"] .avatar-layer--feature[data-facial="feature-03"] {
    top: 45%;
    left: 50%;
    width: 40%;
  }

  // Shape-02 + mustache combinations for base body 2
   &[data-shape="shape-02-h2"] .avatar-layer--feature[data-facial="feature-03"] {
    left: 60%;
    top: 40%;
  }

    // Shape-02 + mustache combinations for base body 3
  &[data-shape="shape-02-h3"] .avatar-layer--feature[data-facial="feature-03"] {
    left: 55%;
    top: 45%;
  }

    // Shape-02 + mustache combinations for base body 4
  &[data-shape="shape-02-h4"] .avatar-layer--feature[data-facial="feature-03"] {
    left: 58%;
    top: 42%;
  }


  // Accessories start here
  // Shape-02 + name-tag combinations for base body
  &[data-shape^="shape-02"] .avatar-layer--clothing[data-clothing="name-tag"] {
    top: 58%;
    left: 50%;
    width: 35%;
  }

  // Hide name-tag for h1 (crossed arms - name tag doesn't work)
  &[data-shape="shape-02-h1"] .avatar-layer--clothing[data-clothing="name-tag"] {
    display: none;
  }

   &[data-shape="shape-02-h2"] .avatar-layer--clothing[data-clothing="name-tag"] {
    top: 55%;
    left: 51.1%;
    width: 35%;
  }

     &[data-shape="shape-02-h4"] .avatar-layer--clothing[data-clothing="name-tag"] {
    top: 58%;
    left: 47.1%;
    width: 35%;
  }

  // Blush
  &[data-shape^="shape-02"] .avatar-layer--accessories[data-accessories="blush"] {
    top: 41.7%;
    left: 55%;
    width: 150%;
    min-height: 37.0px;
    max-height: 83.3px;
  }

   // Hide name-tag for h1 (crossed arms - name tag doesn't work)
  &[data-shape="shape-02-h1"] .avatar-layer--accessories[data-accessories="blush"] {
    display: none;
  }

  &[data-shape="shape-02-h2"] .avatar-layer--accessories[data-accessories="blush"] {
    top: 20%;
    left: 55%;
    max-height: 80px;
  }



  &[data-shape="shape-02-h2"] .avatar-layer--accessories[data-accessories="blush"] {
    top: 42.8%;
    opacity: 60%;
  }

  &[data-shape="shape-02-h3"] .avatar-layer--accessories[data-accessories="blush"] {
    top: 46.1%;
    opacity: 60%;
  }

  &[data-shape="shape-02-h4"] .avatar-layer--accessories[data-accessories="blush"] {
    top: 40%;
    left: 55%;
    max-height: 80px;
    opacity: 60%;
  }

  // Beauty spot
  &[data-shape^="shape-02"] .avatar-layer--accessories[data-accessories="beauty-spot"] {
    top: 46.3%;
    left: 50.7%;
    width: 5%;
    min-height: 2.8px;
    max-height: 7.4px;
  }

  &[data-shape="shape-02-h1"] .avatar-layer--accessories[data-accessories="beauty-spot"] {
    top: 41.9%;
    left: 56.7%;
  }

  &[data-shape="shape-02-h2"] .avatar-layer--accessories[data-accessories="beauty-spot"] {
    top: 41.9%;
    left: 56.9%;
  }

  &[data-shape="shape-02-h3"] .avatar-layer--accessories[data-accessories="beauty-spot"] {
    top: 58.8%;
    left: 43.8%;
  }


  // Lashes
  &[data-shape^="shape-02"] .avatar-layer--accessories[data-accessories="lashes-1"] {
    top: 34%;
    left: 50%;
    width: 35%;
    min-height: 13.9px;
    max-height: 23.1px;
  }

   &[data-shape^="shape-02-h1"] .avatar-layer--accessories[data-accessories="lashes-1"] {
    top: 23%;
    left: 55%;
  }

    &[data-shape^="shape-02-h2"] .avatar-layer--accessories[data-accessories="lashes-1"] {
    top: 28%;
    left: 64%;
  }

   &[data-shape^="shape-02-h3"] .avatar-layer--accessories[data-accessories="lashes-1"] {
    top: 39%;
    left: 54%;
  }

     &[data-shape^="shape-02-h4"] .avatar-layer--accessories[data-accessories="lashes-1"] {
    top: 30%;
    left: 57%;
  }

  // lashes 2

    &[data-shape^="shape-02"] .avatar-layer--accessories[data-accessories="lashes-2"] {
    top: 38.9%;
    left: 48.2%;
    width: 35%;
    min-height: 13.9px;
    max-height: 23.1px;
  }

   &[data-shape^="shape-02-h1"] .avatar-layer--accessories[data-accessories="lashes-2"] {
    top: 32.6%;
    left: 46.2%;
  }

    &[data-shape^="shape-02-h2"] .avatar-layer--accessories[data-accessories="lashes-2"] {
    top: 34.0%;
    left: 53.6%;
  }

   &[data-shape^="shape-02-h3"] .avatar-layer--accessories[data-accessories="lashes-2"] {
    top: 42.2%;
    left: 47.3%;
  }

     &[data-shape^="shape-02-h4"] .avatar-layer--accessories[data-accessories="lashes-2"] {
    top: 37.2%;
    left: 46.3%;
  }




  // vests
  &[data-shape^="shape-02"] .avatar-layer--clothing[data-clothing="yellow-vest"] {
    top: 41.7%;
    left: 47.3%;
    width: 80%;
  }
}

