@use 'variables' as *;
@use 'mixins' as *;

// Import base styles (reset, typography, utilities)
@use 'base';

// Import layout
@use 'layout/navbar';

// Import pages
@use 'pages/homepage';
@use 'pages/avatar';
@use 'pages/avatarCustomization';
@use 'pages/splash';
@use 'pages/profile';
@use 'pages/documents';
@use 'pages/fullTranslate';
@use 'pages/terms';
@use 'pages/termlist';
@use 'pages/takequiz';
@use 'pages/introductionPage';
@use 'pages/languagePreferences';
@use 'pages/industryPreferences';
@use 'pages/customLearning';
@use 'pages/leaderboard';
@use 'pages/community';
@use 'pages/viewFriends';
@use 'pages/friends';
@use 'pages/editLesson';
@use 'pages/friendProfile';
@use 'pages/learnJargon';
@use 'pages/categories';
@use 'pages/categoryStudy';
@use 'pages/notifications';
@use 'pages/bossPage';

// Import components
@use 'components/buttons';
@use 'components/card';
@use 'components/categoryFolder';
@use 'components/addFolderModal';
@use 'components/addToFolderDrawer';
@use 'components/rocky-speech-bubble';
@use 'components/clerkUserButton';
@use 'components/documentNav';
@use 'components/documentList';
@use 'components/flippableCard';
@use 'components/peekingCharacter';
@use 'components/flashcardsCarousel';
@use 'components/studyType';
@use 'components/lessonDocSwitch';
@use 'components/quizCompletion';
@use 'components/onboardingForm';
@use 'components/quizShareModal';
@use 'components/notificationsList';
@use 'components/toast';
@use 'components/lessonRequestModal';
@use 'components/privacySettings';
@use 'components/privacyDrawer';
@use 'components/shareDrawer';
@use 'components/qrProfileDrawer';
@use 'components/chatbox';
@use 'components/processingDocumentCard';