@use 'variables' as *;
@use 'mixins' as *;

// Import base styles (reset, typography, utilities)
@use 'base';

// Import layout
@use 'layout/navbar';

// Import pages
@use 'pages/homepage';
@use 'pages/splash';
@use 'pages/profile';
@use 'pages/documents';
@use 'pages/fullTranslate';
@use 'pages/terms';
@use 'pages/demoOptions';
@use 'pages/takequiz';
@use 'pages/introductionPage';
@use 'pages/languagePreferences';
@use 'pages/industryPreferences';
@use 'pages/customLearning';
@use 'pages/leaderboard';
@use 'pages/friends';
@use 'pages/friendProfile';
@use 'pages/learnJargon';
@use 'pages/categories';
@use 'pages/categoryStudy';
@use 'pages/notifications';

// Import components
@use 'components/buttons';
@use 'components/card';
@use 'components/categoryFolder';
@use 'components/rocky-speech-bubble';
@use 'components/clerkUserButton';
@use 'components/documentNav';
@use 'components/documentList';
@use 'components/flippableCard';
@use 'components/flashcardsCarousel';
@use 'components/studyType';
@use 'components/lessonDocSwitch';
@use 'components/quizCompletion';
@use 'components/onboardingForm';
@use 'components/quizShareModal';
@use 'components/notificationsList';
@use 'components/toast';