// All positioning rules for shape-09 avatar body type

.avatar-customization__canvas {

  // Shape-09 + Shoe combinations
  &[data-shape^="shape-09"] .avatar-layer--shoes[data-shoes="shoe-01"] {
    bottom: 3%;
    left: -1%;
    width: 50%;
    min-height: 16%;
    max-height: 20%;
  }

  &[data-shape^="shape-09"] .avatar-layer--shoes[data-shoes="shoe-02"] {
    bottom: 3%;
    left: -1%;
    width: 50%;
    min-height: 16%;
    max-height: 20%;
  }

  &[data-shape^="shape-09"] .avatar-layer--shoes[data-shoes="shoe-03"] {
    bottom: 2%;
    left: -1%;
    width: 50%;
    min-height: 16%;
    max-height: 20%;
  }

  // Shape-09 + Hair combinations
  &[data-shape^="shape-09"] .avatar-layer--hair[data-hair="hair-01"] {
    top: 4%;
    left: 59%;
    transform: translateX(-50%);
    min-height: 80%;
    max-height: 80%;
  }

  &[data-shape^="shape-09"] .avatar-layer--hair[data-hair="hair-02"] {
    top: -2%;
    left: 53%;
    transform: translateX(-50%);
    min-height: 50%;
    max-height: 60%;
  }

  &[data-shape^="shape-09"] .avatar-layer--hair[data-hair="hair-03"] {
    top: 2%;
    left: 55%;
    transform: translateX(-50%);
    min-height: 40%;
    max-height: 60%;
  }

  &[data-shape^="shape-09"] .avatar-layer--hair[data-hair="hair-04"] {
    top: -6%;
    left: 55;
    transform: translateX(-50%);
    min-height: 80%;
    max-height: 80%;
  }

  &[data-shape^="shape-09"] .avatar-layer--hair[data-hair="hair-05"] {
    top: 6%;
    left: 55%;
    transform: translateX(-50%);
    min-height: 50%;
    max-height: 60%;
  }

  &[data-shape^="shape-09"] .avatar-layer--hair[data-hair="hair-06"] {
    top: -5%;
    left: 55%;
    transform: translateX(-50%);
    min-height: 40%;
    max-height: 50%;
  }

  &[data-shape^="shape-09"] .avatar-layer--hair[data-hair="hair-07"] {
    top: -15%;
    left: 40%;
    transform: translateX(-50%);
    min-height: 80%;
    max-height: 80%;
  }
}
