@use '../variables' as *;

// Box sizing and scroll behavior
* {
  box-sizing: border-box;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
  
  &::-webkit-scrollbar { 
    display: none;
    width: 0;
    height: 0;
  }
}

html {
  font-size: 16px;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  line-height: 1.5;
  color: $color-neutral;
  background-color: $color-second-neutral-light;
  margin: 0;
  max-width: 100vw;
  padding: 0.5rem;
  min-height: 100vh;
  overflow-y: scroll;
}

// Root container
#root {
  margin: 0 auto; 
  background-color: $color-second-neutral-light;
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;

  @media (min-width: 768px) {
    padding: 0 1rem; 
    border-radius: 12px; 
  }

  main {
    height: 100vh;
  }
}